<nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper">
            <a class="page-title">
                <i class="large material-icons">list</i>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col m12">
                <ul>
                    <li>
                        <div class="card-panel">
                            <span class="text-darken-2">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat viverra ex, sit amet volutpat lorem tincidunt ac. Donec vestibulum justo augue, ut convallis ex semper tincidunt. Pellentesque a lorem eu turpis feugiat facilisis a quis ex. Quisque facilisis metus at quam venenatis, volutpat facilisis erat mattis. Maecenas ultrices tristique venenatis. Vivamus ac libero ultricies dolor commodo auctor ac eu dui. Aliquam quis lorem ut mauris mollis maximus eu in orci. Sed in leo eros. Nulla ut volutpat tortor, eu gravida neque. Vestibulum auctor, enim in interdum congue, odio ipsum pretium sapien, in venenatis erat ligula eu quam. Curabitur tempus nibh nibh, non lobortis leo tincidunt vel. Pellentesque ipsum ligula, tincidunt euismod mattis ac, malesuada ut nibh. Proin aliquet blandit eros, nec auctor tellus cursus quis. Ut convallis augue sed bibendum euismod. Fusce eget rhoncus mauris.</p>

                                <p>Proin lacinia dui ligula, eget malesuada nisi laoreet vel. Sed dignissim et lorem nec fringilla. Integer vulputate dapibus libero in aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate nunc at nunc imperdiet, quis accumsan metus ornare. Cras efficitur eleifend leo, eget porta nibh commodo ut. Curabitur sagittis, felis in tristique bibendum, lorem neque mattis risus, et ultricies libero ligula vel leo.</p>
                            </span>
                        </div>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</div>